@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-x: auto;
}

code {
  white-space: pre-wrap !important;
  word-break: break-word;
}
